</div>

<footer>
  <div class="container footerContent">
    <p><i class="fa fa-copyright"></i> Conor Hernandez All Rights Reserved
        <span class="footerIcons">
          <a class="btn btn-social-icon btn-facebook btn-xs"href="http://facebook.com"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-twitter btn-xs"href="http://twitter.com"><i class="fa fa-twitter"></i></a>
        </span>
    </p>
  </div>
</footer>

  <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/site.js"></script>
</body>
</html>
