</div>
  <footer>
    <p><i class="fa fa-copyright"></i> Conor Hernandez All Rights Reserved</p>
    <ul class="list-inline">
      <li><a class="btn btn-social-icon btn-facebook btn-xs"href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn btn-social-icon btn-twitter btn-xs"href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </footer>
  <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/site.js"></script>
</body>
</html>
