<% include ./partials/header %>

<div class="container-fluid homeHeader">
  <div class="header">
    <h1>Conor Hernandez</h1>
    <hr>
    <h4>Artist / Blizzard Entertainment</h4>
    <h5 class="landingQuote">"Creativity is allowing yourself to make mistakes. Art is knowing which ones to keep."</h5>
  </div>
</div>

<% include ./partials/footer %>
