<% include ./partials/header %>

<div class="container">
  <div class="header">
    <h1>Conor Hernandez</h1>
    <hr>
    <h4>3d Artist Blizzard Entertainment</h4>
  </div>
</div>

<% include ./partials/footer %>
