html {
  height: 100%;
}

body {
  height: 100%;
}

.homeHeader {
  margin-top: -70px;
  height: 100%;
  background: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*    NavBar    */

.navbar-default {
  background-color: rgba(20, 20, 20, 0.8);
  margin-bottom: 0;
  border: none;
}

.navbar-brand i {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  color: white;
}

.navbar-default .navbar-nav>li.active>a:hover {
  color: black;
}

/*   Home Page   */
.landingHeader h1 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
}

.landingHeader h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 26px;
}


.landingHeader h1, .landingHeader h4, .landingHeader hr {
  display: none;
}

.landingHeader {
  padding-top: 25%;
  text-align: center;
  color: white;
}

.landingQuote {
  display: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  margin-top: 60px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.77),
               0px -2px 10px rgba(0, 0, 0, 0.77);
}

.landingHeader h1, .landingHeader h4 {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.77),
               0px -2px 10px rgba(0, 0, 0, 0.77);
}

.landingHeader hr {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
  width: 0;
}

.homeSocial {
  border: none;
  text-align: center;
  margin-top: 60px;
}

/*   Contact Page   */

.contactHeader {
  background: url('../images/bg2.jpg');
  margin-top: -70px;
}

.contactMsg {
  font-family: 'lobster', cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.77),
               0px -2px 10px rgba(0, 0, 0, 0.77);
  padding-top: 10%;
  padding-bottom: 8%;
}

.contactMsg h1 {
  font-size: 4em;
}

.contactForm {
  margin-top: 4%;
}

textarea {
  resize:none;
}
